---
import CartReact from "@/components/CartReact";
---

<section class="min-h-screen bg-[#fef9f3] text-[#3b2e2a] px-4 py-20">
  <h1 class="text-3xl font-bold text-center mb-10">Carrito de productos</h1>
  <CartReact client:load />
</section>
