---

---

<section
  class="relative bg-[#fef9f3] px-4 sm:px-8 lg:px-20 py-20 overflow-hidden"
>
  <div class="relative z-10 max-w-7xl mx-auto text-[#3b2e2a]">
    <div class="text-center mb-12 animate-fadeIn animation-delay-100">
      <h2 class="text-3xl font-bold mb-2">Colaboraciones</h2>
      <div class="w-24 h-1 mx-auto bg-[#a1583c] rounded-full"></div>
    </div>

    <!-- Cards -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div
        class="bg-white rounded-xl shadow-md overflow-hidden animate-fadeIn animation-delay-200"
      >
        <img
          src="/img/Colaborations/AnaHernandez.webp"
          alt="Ana Hernández"
          class="w-full h-56 object-cover"
          loading="lazy"
        />
        <div class="p-6 space-y-2">
          <h3 class="text-xl font-semibold">Ana Hernández</h3>
          <p class="text-sm text-[#5f4a40]">
            Trabajo hecho con <strong>Ana Hernández</strong> en conjunto con <strong
              >Aleida Oviedo</strong
            >, artesana ikoots de San Mateo del Mar, Oaxaca. En la técnica de <em
              >cadenilla</em
            >.
          </p>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md overflow-hidden animate-fadeIn animation-delay-300"
      >
        <img
          src="/img/Colaborations/EvaBrunner.webp"
          alt="Eva Brunner"
          class="w-full h-56 object-cover"
          loading="lazy"
        />
        <div class="p-6 space-y-2">
          <h3 class="text-xl font-semibold">Eva Brunner</h3>
          <p class="text-sm text-[#5f4a40]">
            Trabajo hecho con <strong>Eva Brunner</strong> en conjunto con <strong
              >Alicia Moctezuma</strong
            >, artesana ikoots de San Mateo del Mar, Oaxaca. En la técnica de <em
              >cadenilla</em
            >.
          </p>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md overflow-hidden animate-fadeIn animation-delay-400"
      >
        <img
          src="/img/Colaborations/natgeo.webp"
          alt="Photocamp Natgeo"
          class="w-full h-56 object-cover"
          loading="lazy"
        />
        <div class="p-6 space-y-2">
          <h3 class="text-xl font-semibold">Photocamp NatGeo</h3>
          <p class="text-sm text-[#5f4a40]">
            Trabajo hecho en coordinación con autoridades de San Mateo del Mar, <strong
              >NatGeo</strong
            >, y <strong>Manos del Mar</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
