---
import WhatsAppButton from "@/components/WhatsAppButton.astro";
---

<section
  class="bg-[#fff6f0] py-16 px-6 text-center text-[#3b2e2a] relative overflow-hidden"
>
  <div
    class="relative z-10 max-w-3xl mx-auto space-y-6 animate-fadeIn animation-delay-200"
  >
    <h2 class="text-3xl sm:text-4xl font-bold leading-tight">
      ¡Lleva un pedacito de tradición a tu hogar!
    </h2>
    <p class="text-base sm:text-lg">
      Cada prenda y accesorio cuenta la historia de una mujer ikoots, su legado
      y su arte. Déjanos ayudarte a encontrar la pieza perfecta para ti.
    </p>

    <WhatsAppButton category="productos" />
  </div>
</section>
