<section
  class="bg-[#fef9f3] min-h-screen flex items-center justify-center px-4 sm:px-8 lg:px-20 py-10 relative overflow-hidden"
>
  <!-- <div class="absolute inset-0 z-0">
    <img
      src="/img/Background/HeroBackground.webp"
      alt="Fondo decorativo"
      class="w-full h-full object-cover opacity-10"
      loading="lazy"
    />
  </div> -->

  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center w-full max-w-7xl relative z-10"
  >
    <!-- Columna izquierda -->
    <div
      class="relative w-full flex justify-center items-end animate-fadeIn animation-delay-200 aspect-4/3"
    >
      <img
        src="/img/Hero/huipil_1.webp"
        alt="Huipil rojo con cadenilla azul elaborado a mano"
        class="relative w-[80%] max-w-[500px] z-10 floating"
      />
      <img
        src="/img/Hero/sombra_1.webp"
        alt="Sombra de huipil"
        class="absolute bottom-0 w-[90%] max-w-[550px] z-0 translate-y-45 scale-125 floating"
      />
    </div>

    <!-- Columna derecha -->
    <div class="text-center lg:text-left space-y-6">
      <h1
        class="text-3xl sm:text-4xl lg:text-5xl font-semibold text-[#3b2e2a] leading-tight animate-fadeIn animation-delay-300"
      >
        Tejidos <span class="italic">ikoots</span> de <br /> San Mateo del Mar
      </h1>
      <p
        class="text-lg text-[#6b4d42] max-w-md mx-auto lg:mx-0 animate-fadeIn animation-delay-500"
      >
        Hecho con amor desde San Mateo del Mar. Apoyando el comercio justo y la
        cosmovisión ikoots.
      </p>
    </div>
  </div>
</section>
